<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a class="d-inline-flex align-items-center mb-2 text-decoration-none" href="/"
               aria-label="Bootstrap">
                <span class="fs-5 text-white">Spampers</span>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
            <li><a href="{% url 'mainapp:mailing_list' %}" class="nav-link px-2">Рассылки</a></li>
            <li><a href="{% url 'mainapp:client_list' %}" class="nav-link px-2">Клиенты</a></li>
            <li><a href="#" class="nav-link px-2">Сообщения</a></li>
            <li><a href="#" class="nav-link px-2">Блог</a></li>
            <li><a href="#" class="nav-link px-2"></a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Авторизация</button>
            <button type="button" class="btn btn-primary">Регистрация</button>
        </div>
    </header>
</div>