{% extends 'mainapp/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список пользователей</h1>
</div>

<div class="container">

    <div class="row text-center">
        {% for user in users %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"></h4>
                </div>
                <div class="card-body">

                    <p>{{ user.email }}</p>
                    <a class="p-2 btn btn-outline-dark" href="{% url 'users:user_update' user.pk %}">Редактировать</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}