{% extends 'mainapp/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Клиенты</h1>
</div>

<div class="container">
    <div class="row text-center mb-4">
        <div class="col">
            <a class="p-2 btn btn-outline-primary" href="{% url 'mainapp:mailing_form' %}">Создать рассылку</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'mainapp:message_form' %}">Создать сообщение для
                рассылки</a>
        </div>
    </div>
    <div class="row text-center mb-4">
        <button class="p-2 btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Показать список сообщений
        </button>
    </div>

    <div class="collapse" id="collapseExample">
        <div class="row text-center">
            {% for message in messages %}
            <div class="col-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal"> {{ message.subject_letter }}</h4>
                    </div>
                    <div class="card-body">

                        <p>{{ message.subject_letter }}</p>
                        <a class="p-2 btn btn-outline-primary"
                           href="{% url 'mainapp:message_detail' message.pk %}">Детали</a>
                        <a class="p-2 btn btn-outline-primary"
                           href="{% url 'mainapp:message_update' message.pk %}">Обновить</a>
                        <a class="p-2 btn btn-outline-primary"
                           href="{% url 'mainapp:message_delete' message.pk %}">Удалить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row text-center">
        {% for mailing in mailing_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"> ()</h4>
                </div>
                <div class="card-body">

                    <p></p>
                    <a class="p-2 btn btn-outline-primary"
                       href="{% url 'mainapp:mailing_detail' mailing.pk %}">Детали</a>
                    <a class="p-2 btn btn-outline-primary"
                       href="{% url 'mainapp:mailing_update' mailing.pk %}">Обновить</a>
                    <a class="p-2 btn btn-outline-primary"
                       href="{% url 'mainapp:mailing_delete' mailing.pk %}">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}